@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jarunska 2<br />
    10000, Zagreb<br />
    <abbr title="Phone">P:</abbr>
    095-557-4482
</address>

<address>
    <strong>Support:</strong> <a href="ivan.vukovac@fer.hr">ivan.vukovac@fer.hr</a><br />
</address>
